@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500;700&display=swap");

nav {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  padding-top: 1vh;
  color: white;
  font-family: "Anonymous Pro";
  font-weight: bold;
  font-size: large;
}
body  {
  cursor: url('https://fav.farm/🔥') 15 0, auto;
}
.header {
  display: flex;
  place-content: space-between;
}

.tempt-background-image img {
  min-width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -5;
  object-fit: cover;
  object-position: center;
  left: 0;
}
.cover-illust {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.65);
}
.hero-container {
  max-width: 1175px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  color: white;
}
.hero-header {
  transform: translate3d(0px, 2px, 0px) rotate(0deg);
  position: absolute;
  z-index: 2;
  top: 40%;
  /* font-size: 30px; */
}
.top-text {
  color: white !important;
  font-weight: bold;
  font-family: sans-serif, "JetBrains Mono", monospace;
}
.top-text span {
  color: rgb(225, 94, 94);
  font-weight: 750;
  font-family: monospace;
}
.description-hero {
  font-weight: 400;
}
.hero-section {
  height: 90vh;
}
.code-class {
  background: black;
}
.about-me {
  width: 100%;
  background-color: black;
}

.code {
  font-weight: 900;
  font-family: "Fira Code", monospace;
}

.code-class {
  overflow-x: hidden;
}
.form-container {
  background-color: black;
  color: white;
}
.contact-text {
  color: white;
}
.to-color {
  width: 50%;
  margin: 0 auto;
}

input {
  border: 1px solid #fff;
  padding: 15px !important;
  color: white !important;
  border-radius: 12px;
  background: none;
  margin-bottom: 12px !important;
}

label {
  font-weight: 700;
  margin-bottom: 5px !important;
}
